*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    padding: 20px;
nav{
    a{
        display: flex;
        align-items: center;
        justify-content: center;
       cursor: pointer;
    }
    ul{
        li{
            a{
                color: $text-color !important;
                font-size: 17px;
                font-weight: 700;
                font-family: "Ubuntu", sans-serif; 
            }
        }
    }
}
}
#essence{
    width: 100%;
    height: 630px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    background-image: url('https://scontent.fgyd23-1.fna.fbcdn.net/v/t39.30808-6/304779502_203858208665662_5797745238588823509_n.jpg?stp=dst-jpg_s960x960&_nc_cat=105&ccb=1-7&_nc_sid=783fdb&_nc_ohc=k2CdNMZnCfoAX9tLG_W&_nc_ht=scontent.fgyd23-1.fna&oh=00_AfBKT2e1PuUqVLOJKkAAWHAkxNDmL4Pmnpk-kOIKGUgXrw&oe=659CC7A3');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    .container{
    margin-top: 20px;
    margin-bottom: 20px;
    .essenceitem{
        display: flex;
        justify-content: flex-start;
        text-align: justify;
        flex-direction: column;
        margin-top: 20px;
        margin-bottom: 20px;
       h6{
        font-size: 23px;
        font-weight: 700;
        color: rgb(76, 75, 75);
       }
       h1{
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 40px;
        font-weight: 700;
        font-family: "Ubuntu", sans-serif;
        line-height: 1.3;
       }
       button{
        margin-top: 20px;
        margin-bottom: 20px;
        width: 170px;
        height: auto;
        border: none;
        padding: 10px;
        font-size: 13px;
        background-color: $end-color;
        color: $bg-color;
        font-weight: 700;
        cursor: pointer;
        &:hover{
            background-color: $main-color;
        }
       }
    }
}
}
@media screen and (max-width: 320px) {
    #essence {
        .container {
            .essenceitem {
                h1 {
                    font-size: 15px;
                }
                button{
                    width: 80px;
                    font-size: 10px;
                }
               
            }
        }
    }
}
#FormMethod{
    width: 100%;
    height: auto;
    padding: 30px;
    margin-top: 20px;
    background-color: #F7F8F1;
    background-position: center;
    background-size: cover;
    .container{
        margin-top: 20px;
        p{
            font-size: large;
            font-weight: 700;
        }
        label{
            color: black;
        }
        input{
            border: 2px solid black;
        }
    
    }
}
#displayCard {
    .container {
        #display {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 25px;

            .box {
                width: 250px;
                padding: 25px;
                background-color: $bg-color;
                box-shadow: 0 1px 10px $bg-second-color;

                span {
                    font-weight: 500;
                    font-size: 18px;
                }

                button {
                    color: $main-second-color;
                    background-color:$main-color;
                    transition: 1s;
                    padding: 10px;
                    border-radius: 20px;
                    display: flex;
                    gap: 10px;
                    font-weight: 600;
                    justify-content: center;
                    align-items: center;

                    &:hover {
                       
                        color: $main-second-color;
                    }
                }
            }
        }
    }
}
footer{
    width: 100%;
    height: auto;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $bg-second-color;
    .container{
        margin-top: 20px;
        margin-bottom: 20px;
        .foot{
            display: flex;
            align-items: center;
            justify-content: center;
            span{
                color: $bg-color;
            }
            i{
                color: $bg-color;
            }
        }
    }
}